



<%- include('./partials/header') %>

<div class="w-full flex flex-col items-center max-h-fit">
  <% user.cart.forEach(function(item, index){ %>
  <div
    class="w-auto sm:w-[80%] h-36 sm:h-44 md:h-56 lg:h-fit flex items-start my-10 sm:my-3 px-10 py-5 lg:px-20 lg:py-10 gap-10"
  >
    <div class="w-36 h-fit lg:w-44 rounded-md overflow-hidden">
      <div
        class="w-full h-28 lg:h-40 flex justify-center items-center bg-[<%=item.bgcolor %>]"
      >
        <img
          class="fit h-[6rem] lg:h-[9rem]"
          src="data:image/jpeg;base64,<%= item.image.toString('base64') %>"
          alt=""
        />
      </div>
      <div
        class="w-full flex flex-col sm:flex-row sm:justify-between px-2 py-2 bg-[<%=item.panelcolor %>]"
      >
        <h3 class="md:text-xl">Clinge Bag</h3>
        <div
          class="flex flex-row justify-around sm:justify-between items-center gap-0.5 md:gap-1 lg:gap-1.5 mt-1"
        >
          <i
            class="w-4 h-4 lg:w-5 lg:h-5 bg-white flex rounded-full items-center justify-center ri-add-line"
          ></i>
          <div
            class="px-0.5 py-0.25 md:px-1 md:px-0.5 lg:px-2 lg:py-1 rounded-md bg-white text-black"
          >
            01
          </div>
          <i
            class="w-4 h-4 lg:w-5 lg:h-5 bg-white flex rounded-full items-center justify-center ri-subtract-line"
          ></i>
        </div>
      </div>
    </div>
    <div class="sm:w-[80%] w-[70%] flex flex-col justify-center">
      <h3 class="text-xl">Price Breakdown</h3>
      <div class="px-5 mt-2 lg:px-10 lg:mt-5">
        <div class="flex mt-1 lg:mt-2">
          <h4 class="w-2/3">Total MRP</h4>
          <h4>₹ <%=item.price %></h4>
        </div>
        <div class="flex mt-1 lg:mt-2">
          <h4 class="w-2/3">Discount</h4>
          <h4>₹ <%= Number(item.discount) %></h4>
        </div>
        <div class="flex mt-1 lg:mt-2">
          <h4 class="w-2/3">Platform Fee</h4>
          <h4>₹ 20</h4>
        </div>
        <div class="flex mt-1 lg:mt-2">
          <h4 class="w-2/3">Shipping Fee</h4>
          <h4>FREE</h4>
        </div>
      </div>
      <div class="w-full h-[1px] bg-black mt-0.5 sm:mt-3 lg:mt-10"></div>
      <div class="flex mt-0.5 lg:mt-5">
        <h3 class="w-2/3 text-xl">Total Amount</h3>
        <h3 class="font-semibold text-xl text-green-600">₹ <%= bill[index] %></h3>    
      </div>
      <form action=""></form>
    </div>
  </div>

  <% }) %>
  <div class="w-[90%] h-[1px] bg-black mt-5 lg:mt-10"></div>
  <div class="w-[33%]">
    <% if(total == 0) { %>
    <div class="w-full flex flex-row justify-center px-2 my-3 lg:px-3 lg:my-5">
      <h3 class="w-3/5 text-2xl">Cart is Empty</h3>
    </div>
    <% } else { %>
    <div class="w-60 lg:w-80 flex flex-row sm:justify-end justify-items-center my-3 lg:px-3 lg:my-5">
      <h3 class="w-3/5 text-xl">Grand Total</h3>
      <h3 class="font-semibold text-xl text-green-600">₹<%= total %></h3>
    </div>
    <% } %>
  </div>
</div>
<%- include('./partials/footer') %>
